@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Playfair+Display:ital@1&display=swap");

$color1 : #7d3269;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.component-body {
  margin: 100px 0 0 100px;
  display: flex;
  width: 100%;
  max-width: 70%;
  justify-content: space-between;

  @media only screen and (max-width: 768px) {
    max-width: 90%;
    margin: 30px 0 0 30px;
  }

  @media only screen and (max-width: 468px) {
    flex-direction: column;
    margin: 30px 0 0 30px;
  }

  .component-context {
    width: 500px;

    @media only screen and (max-width: 768px) {
      width: 350px;
    }

    @media only screen and (max-width: 468px) {
      width: 300px;
    }
    .tag {
      font-size: 18px;
      font-family: "Playfair Display", serif;
      p {
        i {
          color: $color1;
          padding: 2px;
        }
      }
    }
    h2 {
      margin-top: 15px;
      font-size: 30px;
      font-family: "Lato", sans-serif;
    }

    p {
      font-size: 17px;
      line-height: 1.35;
      letter-spacing: 0.05em;
      margin-top: 15px;
      color: #4d4d4d;
    }
  }

  button {
    margin-top: 25px;
    border: solid 2px $color1;
    background-color: #fff;
    color: $color1;
    cursor: pointer;
    text-transform: uppercase;
    padding: 9px 35px;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.8px;
    transition: 0.5s ease-in-out;
    i {
      display: none;
    }

    &:hover {
      box-shadow: inset 300px 0 0 0 $color1;
      color: #fff;
      i {
        display: inline-block;
        margin-left: 8px;
        opacity: 0.6;
        transform: scale(1.5);
      }
    }
  }
}

.component-image {
  overflow: hidden;
  width: 350px;
  text-align: center;
  position: relative;
  @media only screen and (max-width: 468px) {
    width: 300px;
    margin: 20px 0;
  }
  img {
    // position: absolute;
    left: -35px;
    width: 400px;
    height: auto;

    transition: opacity 0.35s, transform 0.35s;
    transform: scale(1.15);
    @media only screen and (max-width: 468px) {
      width: 320px;
    }
  }
  &:hover {
    img {
      cursor: pointer;
      transition: opacity 0.35s, transform 0.35s;
      transform: scale(1);
      transition: 0.3s ease-in-out;
    }
  }
}
