@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Playfair+Display:ital@1&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.component-body {
  margin: 100px 0 0 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 70%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 768px) {
  .component-body {
    max-width: 90%;
    margin: 30px 0 0 30px;
  }
}

@media only screen and (max-width: 468px) {
  .component-body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 30px 0 0 30px;
  }
}

.component-body .component-context {
  width: 500px;
}

@media only screen and (max-width: 768px) {
  .component-body .component-context {
    width: 350px;
  }
}

@media only screen and (max-width: 468px) {
  .component-body .component-context {
    width: 300px;
  }
}

.component-body .component-context .tag {
  font-size: 18px;
  font-family: "Playfair Display", serif;
}

.component-body .component-context .tag p i {
  color: #7d3269;
  padding: 2px;
}

.component-body .component-context h2 {
  margin-top: 15px;
  font-size: 30px;
  font-family: "Lato", sans-serif;
}

.component-body .component-context p {
  font-size: 17px;
  line-height: 1.35;
  letter-spacing: 0.05em;
  margin-top: 15px;
  color: #4d4d4d;
}

.component-body button {
  margin-top: 25px;
  border: solid 2px #7d3269;
  background-color: #fff;
  color: #7d3269;
  cursor: pointer;
  text-transform: uppercase;
  padding: 9px 35px;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.8px;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.component-body button i {
  display: none;
}

.component-body button:hover {
  -webkit-box-shadow: inset 300px 0 0 0 #7d3269;
          box-shadow: inset 300px 0 0 0 #7d3269;
  color: #fff;
}

.component-body button:hover i {
  display: inline-block;
  margin-left: 8px;
  opacity: 0.6;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.component-image {
  overflow: hidden;
  width: 350px;
  text-align: center;
  position: relative;
}

@media only screen and (max-width: 468px) {
  .component-image {
    width: 300px;
    margin: 20px 0;
  }
}

.component-image img {
  left: -35px;
  width: 400px;
  height: auto;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  transition: opacity 0.35s, transform 0.35s, -webkit-transform 0.35s;
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

@media only screen and (max-width: 468px) {
  .component-image img {
    width: 320px;
  }
}

.component-image:hover img {
  cursor: pointer;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  transition: opacity 0.35s, transform 0.35s, -webkit-transform 0.35s;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
/*# sourceMappingURL=style.css.map */